@import url(fonts.css);

/* start reset css */
body {
  font-family: iranyekan, sans-serif !important;
  text-align: right;
  direction: rtl;
  background: #f3f3f3;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: iranyekan !important;
}

h1 {
  font-weight: bold;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 0.8em;
}

.text-xsmall {
  font-size: 0.6em;
}

.text-large {
  font-size: 1.2em;
}

.text-xlarge {
  font-size: 1.4em;
}

.text-underline {
  text-decoration: underline;
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: normal;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: bold;
}

.text-extrabold {
  font-weight: 800;
}

.text-black {
  font-weight: 850;
}

.text-extrablack {
  font-weight: 900;
}

blockquote {
  font-weight: 500;
  padding: 10px;
  border: 1px dashed #666666;
}

.mainbox {
  width: 100%;
  background-color: #EFEFEF;
  display: table;
  margin-bottom: 30px;
  border-right: 8px solid #CCFF33;
}

.mainboxnegativ {
  width: 100%;
  background-color: #000000;
  display: table;
  margin-bottom: 30px;
  border-right: 8px solid #CCFF33;
  color: #F9F9F9;
}

.mainbox2 {
  font-size: 1em;
  width: 90%;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainbox3 {
  width: 100%;
  background-color: #DFDFDF;
  display: table;
  margin-bottom: 30px;
  border-right: 8px solid #bd70ff;
}

.mainbox2negativ {
  font-size: 1em;
  color: #F9F9F9;
  background-color: #000000;
  padding-right: 20px;
}

.farsiparagraph {
  font-size: 1em;
  width: 47%;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.farsiparagraph_negativ {
  font-size: 1em;
  color: #F9F9F9;
  background-color: #000000;
  width: 47%;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.englishparagraph {
  font-size: 1em;
  width: 47%;
  float: left;
  direction: ltr;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;


}

.englishparagraph_negativ {
  font-size: 1em;
  color: #F9F9F9;
  background-color: #000000;
  width: 47%;
  float: left;
  direction: ltr;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;


}

.rightbox {
  width: 60%;
  padding-right: 20px;
  padding-left: 5px;
  float: right;
  margin-left: 10px;
  margin-bottom: 0px;
  min-width: 0px;
  background-color: #F7F7F7;

}

.titelbox {
  width: 60%;
  padding-right: 25px;
  padding-left: 0px;
  float: right;
  margin-left: 10px;
  margin-bottom: 0px;
  min-width: 0px;
  background-color: #d5d5d5;
  color: #4B4B4B;
}

.lefttbox {

  padding-right: 20px;
  padding-left: 4px;
  float: right;
  margin-bottom: 10px;
  min-width: 0px;
}

.alphabet {
  width: 35%;
  float: left;
  font-size: 21em;
  text-align: center;
  font-weight: 500;
  color: #999999;
}

.alphabet2 {
  width: 35%;
  float: left;
  direction: ltr;
  font-size: 1.6em;
  text-align: left;
  font-weight: 500;
  color: #333333;
  margin-top: 100px;
}

.footer {
  font-weight: 300;
  font-size: 0.7em;
  text-align: center;
  direction: ltr;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


/* end reset css */

/* root assets */
:root {
  --colorMain: #1dc690;
  --colorMainTransparent: rgba(29, 198, 144, 0.51);
  --colorSecondary: #c6391d;
  --colorCopyright: #21b183;
}

/* end root assets */

/* header */
.main-menu {
  width: 100%;
  height: 80px;
  background: var(--colorMain);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu-logo {
  width: 200px;
  max-height: 100%;
}

.main-menu-items {
  width: 100%;
  cursor: default;
  transition: 250ms;
}

.main-menu-items ul {
  margin: 0;
}

.main-menu-items ul li {
  display: inline-block;
}

.main-menu-items ul li a {
  display: block;
  text-decoration: none !important;
  color: #fff;
  padding: 7px 15px;
  font-size: 15px;
  position: relative;
  z-index: 0;
  transition: 300ms;
}

.main-menu-items ul li a:before {
  content: '';
  height: 100%;
  width: 0;
  background-color: var(--colorSecondary);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 300ms;
}

.main-menu-items ul li a:hover:before {
  width: 100%;
}

.main-menu-buttons {
  width: 250px;
  text-align: left;
}

.dark-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.51);
  top: 0;
  right: 0;
  z-index: 5;
  display: none;
}

#menuToggle {
  font-size: 25px;
  color: #fff;
  display: none;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}

/* just fun :) */
.main-menu-color {
  display: inline-block;
  direction: ltr;
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 9999;
}

.main-menu-color i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 3px;
}

.greenColor {
  color: #1dc690;

}

.purpleColor {
  color: #6f42c1;

}

.berryColor {
  color: #B53471;

}

/* end header */

/* start slider */

.search-box-background {
  padding: 150px 15px 0;
  background: #eee fixed no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: none;
  background-size: auto;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  position: relative;
  background-image: url("../img/computer-science-820x273.jpg");
}

.highlight {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--colorMain), var(--colorSecondary));
  background: -webkit-linear-gradient(45deg, var(--colorMain), var(--colorSecondary));
  opacity: .6;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.search-box {
  text-align: center;
  margin-bottom: -40px;
  position: relative;
  z-index: 1;
}

.search-box input {
  width: 100%;
  height: 80px;
  padding: 0 25px;
  border-radius: 5px;
  caret-color: var(--colorMain);
  font-size: 20px;
  color: #555;
  transition: 300ms;
  border: 2px solid transparent;
}

.search-box input:focus {
  border-radius: 80px;
  border-color: var(--colorMain);
}

.search-box input::placeholder {
  font-size: 15px;
  color: #777;
}

.search-box .search-title {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin: 20px 0 40px;
}

.search-heart-animate {
  color: #ff3e3e;
  font-size: 30px;
  display: inline-block;
  animation-name: heartSearchAnimate;
  animation-iteration-count: infinite;
  animation-duration: 500ms;
  animation-direction: alternate;
  position: absolute !important;
  bottom: 14px;
  left: 50px !important;
  z-index: 1;
}

@keyframes heartSearchAnimate {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
  }
}

/* end slider */

/* start category */
.grids {
  display: flex;
  align-items: center;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 220px;
  display: block;
  border-radius: 8px;
  overflow: hidden;
}

.grid-item.grid-lg {
  width: 460px;
  height: 460px;
}

.grid-small {
  display: flex;
  align-items: center;
  width: calc(100% - 460px);
  padding-right: 20px;
}

.grid-small>div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.grid-small>div:first-of-type {
  margin-left: 20px;
}

.grid-small>div:first-of-type .grid-item:first-of-type {
  margin-bottom: 20px;
}

.grid-small>div:last-of-type .grid-item:first-of-type {
  margin-bottom: 20px;
}

.grid-item:before {
  content: '';
  position: absolute;
  right: 0;
  top: calc(100% - 50px);
  width: 100%;
  height: 100%;
  background: var(--colorMainTransparent);
  transition: 400ms;
}

.grid-item:hover:before {
  top: calc(100% - 100% / 2);
}

.grid-item:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: 400ms;
  border: 2px solid rgba(255, 255, 255, 0.51);
  visibility: hidden;
  opacity: 0;
  border-radius: 0 50px;
}

.grid-item:hover:after {
  visibility: visible;
  opacity: 1;
}

.grid-item img {
  width: 100%;
}

.grid-item .title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.51);
  transition: 400ms;
  width: 100%;
}

.grid-item:hover .title {
  height: 100%;
}

/* end category */

/* start information */
.information-title {
  font-size: 16px;
  font-weight: 600;
  display: block;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

.information-title:before {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background: var(--colorMain);
  border-radius: 10px;
  margin: 0 auto;
  content: '';
}

.information-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 270px;
  text-align: center;
}

.information-box-icon {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: var(--colorMain);
}

.information-box-text p {
  margin: 0;
  font-size: 12px;
  color: #555;
  font-weight: 300;
  line-height: 28px;
}

.information-box h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.box {
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: #fff;
  margin-bottom: 20px;
}

.boxTopLeft {
  border-radius: 90px 0 0 0;
  /* just fun :) */
}

.boxTopRight {
  border-radius: 0 90px 0 0;
  /* just fun :) */
}

.boxBottomLeft {
  border-radius: 0 0 0 90px;
  /* just fun :) */
}

.boxBottomRight {
  border-radius: 0 0 90px 0;
  /* just fun :) */
}

/* end information */

/* start footer */
.footer-bg {
  background: var(--colorMain);
  margin-top: 60px;
  padding: 15px 40px;
}

.footerBox {
  padding: 30px;
}

.footerBox .title {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  text-align: right;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.33);
  display: block;
  margin-bottom: 10px;
}

.footerBox ul {
  padding: 0;
  margin: 0;
}

.footerBox li {
  display: block;
}

.footerBox li a {
  display: inline-block;
  transition: 200ms;
  color: #fff;
  font-weight: 400;
  text-decoration: none !important;
  font-size: 14px;
  padding: 5px 0;
}

.footerBox li a:hover {
  color: #333;
}

.footer-logos {
  display: flex;
  flex-wrap: wrap;
}

.footer-logos img {
  width: 80px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 12px;
}

.footerBox p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.copyright {
  background: var(--colorCopyright);
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.copyright a {
  color: #fff !important;
  text-decoration: none !important;
}

/* end footer */


/* start advisers page */
#filterBar {
  margin-top: 35px;
  box-shadow: 0 5px 14px 3px rgba(0, 0, 0, .1);
  padding: 50px 20px;
}

.form-control {
  border-radius: 10px;
  padding: 1.2rem .75rem !important;
  font-size: 0.79rem !important;
  border: 1px solid #ccc !important;
  margin-bottom: 10px;
  height: 40px !important;
  line-height: 2 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

#filterButton {
  font-size: 14px !important;
  border-radius: 8px !important;
  background-color: var(--colorMain);
}

.form-select {
  padding-right: 30px;
  font-size: 16px;
}

.card-img-top {
  margin-top: 20px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.card-avatar {
  width: 18rem;
  align-items: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .09);
  border-radius: 10px;
}


.card-body h5 {
  font-weight: 500;
  font-size: 20px;
}

.card-body a {
  color: #5f676c;
  text-decoration: none;
}

.card-body p {
  color: #5f676c !important;
  font-weight: 300;
  font-size: 15px;

}

/* end advisers page  */
/* start about page */
.bg-a-header {
  background-color: var(--colorCopyright)
}

.lh-100 {
  line-height: 1;
}

/* end about page */

/* start register page */

.registration-form {
  padding: 50px 0;
}

.registration-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
  text-align: center;
  background-color: var(--colorCopyright);
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form .login-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form .social-media {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
  margin-top: 30px;
  margin-bottom: 16px;
}

.registration-form .social-icons a {
  font-size: 23px;
  margin: 0 3px;
  color: #5691ff;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: #fff;
  line-height: 45px;
}

.registration-form .social-icons a:hover {
  text-decoration: none;
  opacity: 0.6;
}

/* end register page */

/* start detail page */
.doctor-card {
  background: #fff;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  position: relative;
  width: 100%;
  box-shadow: none;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

.doctor-card .header {
  min-height: 150px;
}

.card .header {
  color: #424242;
  padding: 20px;
  position: relative;
  box-shadow: none;
}

.doctor-card .member-img {
  position: relative;
  margin-top: -70px;
}

.l-cyan {
  background: linear-gradient(360deg, var(--colorMain), var(--colorCopyright)) !important;
  color: #fff !important;
}

.m-t-10,
.doctor-card {
  margin-top: 30px;
}

.doctor-card {
  text-align: center;
  margin-right: 10px;
}

.doctor-card .member-img {
  position: relative;
  margin-top: -70px;
}

.doctor-card .member-img img {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.doctor-card .social-links {
  margin-top: 10px;
}

.list-unstyled {
  padding-right: 0;
  list-style: none;
  text-align: center
}

.list-unstyled li {
  display: inline-block;
}



.body-doctor {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
  text-align: justify;
}
.doctor-card .social-links li a {
  text-decoration: none;
  padding: 5px 10px;
}

.text-muted {
  color: #6c757d !important;
  line-height: 1.61em;
}
.rad25 {
  border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
}

.bg-light {
  background-color: var(--colorCopyright) !important;
  font-weight: 300;
  color: #fff;
}
.mx-wh {
  max-width: 750px;
  margin-top:30px;
  margin-right: 20px;
  border-radius: 20px;
}
/* end detail page */

/* @Media size */
@media (max-width: 992px) {
  .grids {
    flex-wrap: wrap;
  }

  .grid-item.grid-lg {
    width: 100%;
    height: 340px;
    flex-shrink: 0;
  }

  .grid-item {
    height: auto !important;
  }

  .grid-small {
    width: 100%;
    display: block;
    padding: 20px 0 0 0;
  }

  .grid-small .grid-item {
    width: 50%;
    height: 220px;
    margin: 0 !important;
  }

  .grid-small>div .grid-item:first-of-type {
    margin-left: 20px !important;
  }

  .grid-small>div:first-of-type {
    margin-bottom: 20px;
  }

  .grid-small>div {
    width: 100%;
    flex-direction: row;
  }

  .heart-animate {
    left: 20px;
  }

  .search-box .search-title {
    font-size: 20px;
    line-height: 28px;
  }

  .search-input-box {
    width: 100%;
  }

  #menuToggle {
    display: inline-block;
  }

  .main-menu-buttons .btn:not(#btnSignIn) {
    display: none !important;
  }

  .main-menu-items {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -240px;
    background: #555;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
  }

  .main-menu-items.show {
    right: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .main-menu-items ul {
    padding: 0 !important;
  }

  .main-menu-items ul li {
    display: block;
    margin-bottom: 7px;
  }

  .main-menu-items ul li a:before {
    background: var(--colorMain) !important;
  }

  .main-menu-logo img {
    height: auto !important;
  }

  .boxTopLeft {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxTopRight {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxBottomLeft {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxBottomRight {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }
}

@media (max-width: 768px) {
  .footer-bg {
    padding: 0 15px;
  }

  .boxTopLeft {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxTopRight {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxBottomLeft {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxBottomRight {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

}

@media (max-width: 576px) {
  .grid-item .title {
    font-weight: 500;
    font-size: 18px;
  }

  .grid-item.grid-lg .title {
    font-size: 22px;
  }

  .boxTopLeft {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxTopRight {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxBottomLeft {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  .boxBottomRight {
    border-radius: 0 0 0 0;
    /* just fun :) */
  }

  /* start register  */
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }

  /* end register  */
}

/* end @Media size */